body{
    margin: 0;
    padding: 0;
}

img{
    align-self: center;
    padding: 0px;
}

p{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



h1{
    font-size:3.4vw;
    padding: 0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    padding-top:3vw;
    font-size: 1.5rem;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    list-style: none;
}

u{
    text-align: center;
    font-size: 0.7rem;
}


.option-title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 1rem;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.option-buttons{
    padding:0.3rem;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    position:absolute;
}

.sidebar{
    display:flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
}

.main-page{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    /* justify-content: flex-end; */
}

.title-donation{
    display: flex;
    flex-direction: row;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 30%;
}

.slogan{
    padding:0;
    margin:0;
    display:flex;
    font-size:2vw;
    text-align:left;
    align-items: flex-start;
}

/* referenced from https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci */
.nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:0;
    line-height: 1.5rem;
}

/* end reference */
.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

.note{
    font-size: 0.8rem;
}

.donation{
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.library-selection{
    height: 20%;
}

.patreon{
    padding:1vw;
}

.get-certificate{
    padding: 2rem 4rem;
    text-align: center;
    background-color: rgb(216, 232, 237);
}

.button-container{
    display: flex;
    flex-direction: column;
}

.button{
    border: none;
    padding: 0.3rem;
    cursor: pointer;
}

.timed-practice-button{
    background-color: orange;
}

.login-container{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.sign-up{
    font-size: 1rem;
}

.enter-field{
    background-color: whitesmoke;
    border: none;
    padding: 0.3rem;
    cursor: text;
    width: 80%;
}

.login-button-container{
    display: flex;
    align-items: center;
    padding-left: 3rem;
    justify-content: center;
    gap:0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}



.timed-practice{
    display: flex;
    flex-direction: column;
}

.library-button{
    text-align: left;
}

.personalization{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(6, auto);
    padding: 1rem;
}

.interval-button{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2 1;
}

.interval-title{
    grid-column: 1;
    grid-row: 4;
}




/* adapted from https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_group_border */
.btn-group .option-button {
    background-color: #cde5ed; 
    border: 1px solid rgb(76, 157, 150);
    color: rgb(76, 157, 150);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border-radius: 6px;
  }
  
  .btn-group .option-button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group .option-button:hover {
    background-color: #adc9d3;
  }

  .start-button{
    background-color: #cde5ed; 
    border: 1px solid rgb(76, 157, 150);
    color: rgb(76, 157, 150);
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    float: left;
    border-radius: 6px;
  }

  .start-button:hover{
    background-color: #adc9d3;
  }
  /* reference ends */

  .start-drawing{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  /* referenced from https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button */
  .dropbtn {
    background-color: #d2eaf3;
    color: grey;
    padding: 0.6rem 1rem;
    font-size: 3rem;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 1rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1rem;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #bcc9cd;
  }
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button reference ends */

.dropbtn{
    font-size:1vw;
}

.donate-button{
    background-color: #3A9FD3; 
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    cursor: pointer;
    float: left;
    border-radius: 3px;
}

.topright{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
}

/* reference from  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js*/
.hamburger-container {
    display: inline-block;
    cursor: pointer;
    display: none;
    padding: 0.5rem;
}

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
/* end reference  */



@media (max-width: 600px){
    .certificate {
      background-color: lightblue;
    }

    .sidebar{
        display: none;
    }

    .topright{
        display: none;
        justify-content: flex-end;
        align-items: flex-end;
        width: 30%;
    }

    .title{
        width: 90%;
    }
    h1{
        font-size: 7vw;
        padding-top: 3rem;
        margin: 0;
        padding-left:3vw;
    }

    h2{
        font-size:5vw;
        padding-top: 4vw;
        padding-left:3vw;
    }

    h3{
        font-size: 3vw;
        padding-left:3vw;
    }

    .library-selection{
        padding-left:3vw;
    }

    .hamburger-container{
        display:inline-block;
    }
  }